@import '../storebase';
@import '../components/nav';
@import '../components/footer';
@import '../components/whitespace';
@import '../components/morelists';
@import '../components/load-more';
@import '../components/return-top';
@import '../components/page';
@import '../components/breadcrumbs';
@import '../components/share';

$box-width:1100px;
.body-wrapper{
  width: $box-width;
  margin:0 auto;
  .only_model{
    width: 100%;
    height: 62px;
    padding-top: 30px;
    span{
      display: block;
      width: 122px;
      height: 26px;
      float: right;
      background: url("../images/VSonly3.png") no-repeat center;
      background-size: 100% 100%;
    }
  }
  .articles{
    width: 100%;
    min-height: 640px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    ul{
      width: 770px;
      list-style: none;
      float: left;
      overflow: hidden;

      li{
        width: 100%;
        overflow: hidden;
        padding: 40px 0;
        border-top: 1px solid #ccc;
        &:first-child{
          border-top: none;
        }
        &>a{
          display: block;
          width: 346px;
          height: 300px;
          float: left;
          overflow: hidden;
          img{
            display: block;
            width: 100%;
            height: 100%;
          }

        }
        div{
          width: 308px;
          margin-left: 20px;
          float: left;
          overflow: hidden;
          .tag{
            margin: 30px 0;
            position: relative;
            padding-left:8px;
            &:before{
              display: block;
              content: '';
              width: 1px;
              height: 14px;
              background: #fe1b1b;
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -7px;

            }
            a{
              display: inline-block;
              font-size: 14px;
              color: #333;
              &:hover{
                color: #666;
              }
            }

          }
          h1{
            a{
              display: block;
              color: #000;
              font-size: 16px;
              line-height: 28px;
              height: 56px;
              @include text-clamp(2);
              text-decoration: none;
              &:hover{
                color: #666;
              }
            }
          }
          span{
            font-size: 12px;
            display: block;
            width: 100%;
            color: #CCCCCC;
            margin: 15px 0;
            a{
              display: none;
              text-decoration: none;
              margin:0 15px 0 5px;
              color: #000;
              &:hover{
                color: #666;
              }
            }
          }
        }

      }
    }
    .advert{
      width: 300px;
      margin-top:40px;
      .advert_one{
        width: 100%;
        height: 600px;
        background: url("http://img.veryside.com/static/pc/rightad.jpg")no-repeat 100%;
        a{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .advert_two{
        width: 100%;
        height: 250px;
        background: url("../images/authorneed.jpg") no-repeat 100%;
        display: none;
        a{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .posTop{
      position: absolute;
      right: 0;
      top: 0;
    }
    .fixed{
      position: fixed;
      -webkit-transform: translateZ(0);
      top: 60px;
      left: 50%;
      margin-left: 250px;
      z-index: 100;
    }
    .posBottom{
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .jingxuan-topic{
    width: 100%;
    overflow: hidden;
    position: relative;
    padding:  38px 0;
    display: -webkit-box;
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    img{
      display: inline-block;
      width:120px;
      height:120px;
      border:none;
      float: left;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius:10px;
      border-radius:10px;
    }
    h1{
      float: left;
      display: inline-block;
      height: 120px;
      line-height: 120px;
      //text-align: center;
      font-size: 18px;
      color: #000;
      padding:0 45px;
    }
    p{
      display: table;
      em{
        font-style: normal;
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        color: #666;
      }
      padding-left: 45px;
      float: left;
      width: 350px;
      height: 120px;
      line-height: 30px;
      text-align: justify;
      font-size: 14px;
      color:#000;
    }
  }
  .breadcrumbs{
    margin-bottom: 30px;
  }
  .recommend{
    margin-top: 50px;
  }

}







