@import '../storebase';
@import '../components/footer';
@import '../components/nav';

.body-wrapper{
  margin: 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top:60px;
  background: paleturquoise;

  .back-wrapper{
    width: 400px;
    height: 60px;
    margin: 150px auto 0;
    line-height: 60px;
  }
  #back_seconds{
    display: inline-block;
    width: 20px;

  }

}
