.dropload-up,.dropload-down{
  position: relative;
  height: 0;
  overflow: hidden;
  font-size: px2rem(30);
  /* 开启硬件加速 */
  -webkit-transform:translateZ(0);
  transform:translateZ(0);
}
.dropload-down{
  height: px2rem(70);
}
.dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{
  height: px2rem(70);
  line-height: px2rem(70);
  text-align: center;
}
.dropload-load .loading{
  display: inline-block;
  height: px2rem(15);
  width: px2rem(15);
  border-radius: 100%;
  margin: px2rem(6);
  border: px2rem(2) solid #666;
  border-bottom-color: transparent;
  vertical-align: middle;
  -webkit-animation: rotate 0.75s linear infinite;
  animation: rotate 0.75s linear infinite;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
