<%# helper/headerarticle.html %>
<%# component/nav.html %>

<div class="body-wrapper">
    <%# component/breadcrumbs.html %>
    <%if(this.indexlist){ var author=this.indexlist,info=author.info,lists=author.list %>

    <div class="editor">
        <% if(info){%>
        <img src="<%= info.thumb %>" alt="<%= info.identity%>">

        <span>
            <i><%= info.nickname%></i>
            <i><%= info.identity%></i>
        </span>
        <p><em><%= info.description%></em></p>
        <%}%>

    </div>
    <%# component/share.html%>
    <%if(lists.length > 0){%>
    <div class="articles">
        <ul>
            <% lists.forEach(function(list,index){%>
            <li>
                <a href="<%= list.url%>" class="pic">
                    <img src="<%= list.thumb %>" alt="<% list.title%>">
                </a>
                <div>
                    <p>
                        <a class="tag" href="<%= list.tag.url%>"><%= list.tag.title%></a>
                    </p>
                    <h1><a href="<%= list.url%>"><%= list.title%></a></h1>
                    <span>
                        <a href="<%= list.author.url%>"><%= list.author.nickname%></a><%= list.timeStr%>
                    </span>
                </div>
            </li>
            <%})%>

        </ul>
        <%# component/motianlou.html%>
    </div>
    <%# component/page.html%>
    <%}%>
    <%# component/morelists.html%>

    <%}%>
</div>


<%# component/footer.html%>
<%# component/return_top.html%>

<%# helper/footer1.html %>
<script id="j-tmpl-newlist" type="text/template">
    {{ for(var i = 0; i < it.list.length; i++){ }}

    <div data-time="{{=it.list[i].time}}">
        <a class="lista" href="{{= it.list[i].url}}">

            <div  class="list-img pic">
                <img  src="{{= it.list[i].thumb }}" alt="">
            </div>

        </a>

        <div class="list-desc">
            <p class="article-tag">
                <a href="{{= it.list[i].tag.url }}">{{= it.list[i].tag.title }}</a>
            </p>
            <h3 class="list-title"><a href="{{= it.list[i].url }}">{{=it.list[i].title }}</a></h3>
            <div class="list-author" >
                <a class="name" href="{{= it.list[i].author.url}}">{{= it.list[i].author.nickname}}</a>
                <span>{{= it.list[i].timeStr}}</span>
            </div>

        </div>
    </div>

    {{ } }}
</script>




