<%# helper/header.html %>
<%# component/nav.html %>

<div class="main-container" id="main-container">
    <div class="picture">

    </div>
    <div class="load">
        <div class="logo">
            <i></i>
            <span>过有型有趣的生活！</span>
        </div>
        <div class="desc">
            <div>
                <h1>有型有趣的时尚资讯</h1>
                <h2>每日精选全球造型，提供实用搭配参考</h2>
            </div>
            <div>
                <h1>丰富多样的精选集</h1>
                <h2>主题精彩实用，全面涵盖你所需</h2>
            </div>
            <div>
                <h1>移动的时尚辞典 “型百科”</h1>
                <h2>独有的型格知识体系，内外兼修才时髦</h2>
            </div>
        </div>
        <div class="address">
            <a target="_self" href="javascript:;" class="android">
                <i></i>
                <i>Android </i> 下载
            </a>
            <a target="_self" href="javascript:;" class="ios">
                <i></i>
                <i>App Store</i> 下载
            </a>

        </div>
        <div class="erweima">
            <div class="inner">
                <h1>扫描二维码即可下载</h1>
                <div></div>
            </div>
        </div>

    </div>
</div>


<%# component/footer.html%>
<%# helper/footer.html %>
