<%# helper/header.html %>
<%# component/nav2.html %>
<div class="body-wrapper">
    <div class="title">
        <ul>
            <li><a href="/aboutus/">关于我们</a></li>
            <li><a href="/contactus/">联系我们</a></li>
            <li><a href="/joinus/">作者招募</a></li>
            <li><a href="/feedback/">反馈建议</a></li>
            <li class="active">用户协议</li>
            <%if(this.indexlist.friend_link instanceof Array && this.indexlist.friend_link.length >0 ){%>
            <li><a href="/friends/">友情链接</a></li>
            <%}%>
        </ul>
    </div>
    <i class="line" style="height: 2200px;"></i>
    <div class="content" style="padding-bottom: 60px">

        <ul>
            <li class="li_useragreement">
                <h1>方格时尚用户服务协议</h1>
                <h2>一、特别提示 </h2>
                <p>
                    在此特别提醒您（用户）在注册成为方格时尚平台 (包括网站\APP\手机站) 用户之前，请认真阅读本《方格时尚用户服务协议》（以下简称“协议”），确保您充分理解本协议中各条款。请您审慎阅读并选择接受或不接受本协议。除非您接受本协议所有条款，否则您无权注册、登录或使用本协议所涉服务。您的注册、登录、使用等行为将视为对本协议的接受，并同意接受本协议各项条款的约束。
                </p>
                <p>
                    本协议约定方格时尚与用户之间关于“方格时尚平台”服务（以下简称“服务”）的权利义务。“用户”是指注册、登录、使用本服务的个人。本协议可由方格时尚随时更新，更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知，用户可在方格时尚平台 (包括网站\APP\手机站) 中查阅最新版协议条款。在修改协议条款后，如果用户不接受修改后的条款，请立即停止使用方格时尚平台提供的服务，用户继续使用方格时尚平台提供的服务将被视为接受修改后的协议。
                </p>
                <h2>二、账号注册 </h2>
                <p>
                    1、用户在使用本服务前需要注册一个“方格时尚”账号。“方格时尚”账号应当使用手机号码绑定注册或者第三方登录注册，请用户使用尚未与“方格时尚”账号绑定的手机号码，以及未被方格时尚根据本协议封禁的手机号码注册“方格时尚”账号。方格时尚可以根据用户需求或产品需要对账号注册和绑定的方式进行变更，而无须事先通知用户。
                </p>
                <p>
                    2、如果注册申请者有被方格时尚封禁的先例或涉嫌虚假注册及滥用他人名义注册，及其他不能得到许可的理由，方格时尚将拒绝其注册申请 。
                </p>
                <p>
                    3、鉴于“方格时尚”账号的绑定注册方式，您同意方格时尚在注册时将您的手机号码或微信头像等信息用于注册。
                </p>
                <h2>三、账户安全  </h2>
                <p>
                    1、用户一旦注册成功，成为方格时尚的用户，将得到一个用户名和密码，并有权利使用自己的用户名及密码随时登陆方格时尚。
                </p>
                <p>
                    2、用户对用户名和密码的安全负全部责任，同时对以其用户名进行的所有活动和事件负全责。
                </p>
                <p>
                    3、用户不得以任何形式擅自转让或授权他人使用自己的方格时尚用户名。
                </p>
                <p>
                    4、如果用户泄漏了密码，有可能导致不利的法律后果，因此不管任何原因导致用户的密码安全受到威胁，应该立即和方格时尚工作人员取得联系，否则后果自负。
                </p>
                <h2>四、用户声明与保证 </h2>
                <p>
                    1、用户承诺其为具有完全民事行为能力的民事主体，且具有达成交易履行其义务的能力。
                </p>
                <p>
                    2、用户有义务在注册时提供自己的真实资料，并保证诸如手机号码、姓名、所在地区等内容的有效性及安全性，保证方格时尚工作人员可以通过上述联系方式与用户取得联系。同时，用户也有义务在相关资料实际变更时及时更新有关注册资料。
                </p>
                <p>
                    3、用户通过使用方格时尚的过程中所制作、上载、复制、发布、传播的任何内容，包括但不限于账号头像、名称、用户说明等注册信息及认证资料，或文字、语音、图片、视频、图文等发送、回复和相关链接页面，以及其他使用账号或本服务所产生的内容，不得违反国家相关法律制度，包含但不限于如下原则：
                </p>
                <blockquote>
                （1）反对宪法所确定的基本原则的；<br>
                （2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br>
                （3）损害国家荣誉和利益的；<br>
                （4）煽动民族仇恨、民族歧视，破坏民族团结的；<br>
                （5）破坏国家宗教政策，宣扬邪教和封建迷信的；<br>
                （6）散布谣言，扰乱社会秩序，破坏社会稳定的；<br>
                （7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；<br>
                （8）侮辱或者诽谤他人，侵害他人合法权益的；<br>
                （9）含有法律、行政法规禁止的其他内容的。
                </blockquote>

                <p>
                    4、用户不得利用“方格时尚”账号或本服务制作、上载、复制、发布、传播下干扰“方格时尚”正常运营，以及侵犯其他用户或第三方合法权益的内容：
                </p>
                <blockquote>
                （1）含有任何性或性暗示的；<br>
                （2）含有辱骂、恐吓、威胁内容的；<br>
                （3）含有骚扰、垃圾广告、恶意信息、诱骗信息的；<br>

                （4）涉及他人隐私、个人信息或资料的；<br>
                （5）侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的；<br>
                （6）含有其他干扰本服务正常运营和侵犯其他用户或第三方合法权益内容的信息。<br>
                </blockquote>

                <h2>五、服务内容</h2>
                <p>
                    1、  方格时尚有权随时审核或删除用户发布/传播的涉嫌违法或违反社会主义精神文明，或者被方格时尚认为不妥当的内容（包括但不限于文字、语音、图片、视频、图文等）。
                </p>
                <p>
                    2、所有发给用户的通告及其他消息都可通过APP或者用户所提供的联系方式发送。
                </p>
                <h2>六、服务的终止 </h2>
                <p>
                    1、在下列情况下，方格时尚有权终止向用户提供服务：
                </p>
                <blockquote>
                        （1）在用户违反本服务协议相关规定时，方格时尚有权终止向该用户提供服务。如该用户再一次直接或间接或以他人名义注册为用户的，一经发现，方格时尚有权直接单方面终止向该用户提供服务；<br>
                        （2）如方格时尚通过用户提供的信息与用户联系时，发现用户在注册时填写的联系方式已不存在或无法接通，方格时尚以其它联系方式通知用户更改，而用户在三个工作日内仍未能提供新的联系方式，方格时尚有权终止向该用户提供服务；<br>
                        （3）用户不得通过程序或人工方式进行刷量或作弊，若发现用户有作弊行为，方格时尚将立即终止服务，并有权扣留账户内虚拟金额；<br>
                        （4）一旦方格时尚发现用户提供的数据或信息中含有虚假内容，方格时尚有权随时终止向该用户提供服务；<br>
                        （5）本服务条款终止或更新时，用户明示不愿接受新的服务条款；<br>
                        （6）其它方格时尚认为需终止服务的情况。
                </blockquote>

                <p>
                    2、服务终止后，方格时尚没有义务为用户保留原账号中或与之相关的任何信息，或转发任何未曾阅读或发送的信息给用户或第三方。
                </p>

            </li>
        </ul>
    </div>
</div>


<%# helper/footer1.html %>


