<div id="footer" >
    <ul>
        <li class="logo">
            <a href="/"><span></span></a>
        </li>
        <li class="down-follow">
            <a href="javascript:;">APP下载</a>
            <a href="javascript:;">关注我们</a>
        </li>
        <li class="down-follow-detail">
            <div class="xiazai">
                <a class="ios" href="/app/">
                    <i></i>
                    iOS
                </a>
                <a  class="android" href="/app/">
                    <i></i>
                    Android
                </a>
            </div>
            <div class="guanzhu">
                <a class="weibo" href="http://weibo.com/u/5974264421">
                    <i></i>
                    微博
                </a>
                <a class="weixin" href="http://mp.weixin.qq.com/s?__biz=MzI2MTI3NTEyOA==&mid=2247486582&idx=6&sn=ac726d635892783790bb6e812aeb5d3c&chksm=ea5da0e1dd2a29f7bf33dce99c53568b0bbbb74d22a978144dcdefa5c66c26200db3cedf5ef9&scene=0#wechat_redirect">
                    <i></i>
                    微信
                </a>
            </div>
        </li>
        <li class="us">
            <a href="/aboutus/">关于我们</a>
            <a href="/contactus/">联系我们</a>
            <a href="/joinus/">作者招募</a>
            <a href="/feedback/">反馈建议</a>
        </li>
        <li class="copyright">
            方格时尚版权所有&nbsp;&nbsp;京ICP备16044662号-1
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102002368">
                <i></i>京公网安备 11010102002368号
            </a>
        </li>
    </ul>
</div>