<div id="vs-share">
    <i>分享</i>
    <div class="bdsharebuttonbox public clearfix">
        <a href="#" class="bds_qzone" data-cmd="qzone" data-tag="share-1" title="分享到QQ空间"></a>
        <!--<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>-->
        <a href="#" class="bds_weixin wx_py" data-cmd="weixin" title="分享到微信"></a>
        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
        <a href="#" class="bds_weixin wx_pyq" data-cmd="weixin" title="分享到朋友圈"></a>
        <!--<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>-->
        <!--<a href="#" class="bds_more" data-cmd="more"></a>-->
    </div>
</div>